<div class='storySetting' id='characterSelectScreen'>
<div class='parchment'>
<h2>The Green Dragon Tavern - Khvost, Xymgor's Scar</h2>
<p>
  You've traveled long and far, leaving the mundane life you had behind for a chance at adventure. Throughout your life you've heard of The Green Dragon Tavern as a place where adventurers from across Xymgor's Scar group together looking for heroic quests. You've entered into the capital city of Khvost. The bustling streets and hawkers extolling their wares do little to hamper your progress as you approach the building with a wood carving in the likeness of a green dragon hanging above the door. You see the fabled bartender of the tavern, Old Grog Nog, standing outside the wooden door. The stories depicting the bartender were true; patchy black beard, thinning head of hair, potbelly covered by a stained apron, corded muscle arms, and a half-plucked chicken resting on his shoulder. When you reach the threshold of the door, he holds out an arm and guides you inside.
</p>
</div>
<br>
<br>
<br>
<br>
<div class="button createCharacterButton" id="createCharacterButton">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#createCharacterModal">
      Create Character
    </button>
</div>

  <form class="dataAccess" id="createCharacter">
  <div class="modal fade" id="createCharacterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="signInModalLabel">Add Character</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label>Character Name</label>
          <input type="text" class="form-control" name="character[name]" id="nameAdd" placeholder="Enter Character Name" required>
          </div>
            <div class="form-group">
              <label for="exampleSelect1">Character Class</label>
              <select class="form-control" id="exampleSelect1" name="character[player_class_id]">
                <option>Fighter</option>
                <option>Barbarian</option>
                <option>Ranger</option>
              </select>
            </div>
            <div class="form-group">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary modal-button" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary modal-button" id="createButton">Create Character</button>
        </div>
      </div>
    </div>
  </div>
</div>
  </form>
</div>
