<div class='storySetting' id='characterSelectScreen'>
<div class='parchment'>
<h2>Welcome to XYZ Land</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
<br>
<br>
<br>
<br>
<div class="button createCharacterButton" id="createCharacterButton">
    <button type="button" class="topRowButton " data-toggle="modal" data-target="#createCharacterModal">
      Create Character
    </button>
</div>

  <form class="dataAccess" id="createCharacter">
  <div class="modal fade" id="createCharacterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="signInModalLabel">Add Character</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label>Character Name</label>
          <input type="text" class="form-control" name="character[name]" id="nameAdd" placeholder="Enter Character Name" required>
          </div>
            <div class="form-group">
              <label for="exampleSelect1">Character Class</label>
              <select class="form-control" id="exampleSelect1" name="character[player_class_id]">
                <option>Fighter</option>
                <option>Barbarian</option>
                <option>Ranger</option>
              </select>
            </div>
            <div class="form-group">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary modal-button" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary modal-button" id="createButton">Create Character</button>
        </div>
      </div>
    </div>
  </div>
</div>
  </form>
</div>
