<div class='row'>
<div class="card combat bg-info text-white col-xs-4 col-centered mb-3">
  <div class="card-body">
    <button type="button" class="attackButton btn btn-primary">Attack</button>
    <button type="button" class="returnButton btn btn-primary">Return to Tavern</button>
    <button type="button" class="deadButton btn btn-primary">Game Over</button>
    <label>Combat Log:</label>
    <textarea class="combatLog" id="combatLogId" cols="30" rows="13" readonly></textarea>
  </div>
</div>
</div>
