<div class="card combat bg-info text-white col-xs-4 col-centered mb-3">
  <div class="card-body">
    <button class="attackButton btn btn-primary">Attack</button>
    <label>Combat Log:</label>
    <textarea class="combatLog" id="combatLogId" cols="20" rows="7" readonly></textarea>
  </div>
</div>
