$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-tint: #1734C1;
$background-color: rgba(81, 44, 11, .7);
$border-color-input: rgba(255, 255, 255, 0.42);
$white: #fff;
$font-family: verdana;

.openingPicture {
  background: url('https://i.imgur.com/GsDyBrC.jpg') no-repeat center center fixed;
  background-size: cover;
  &:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-tint;
    opacity: .3;
    z-index: -2;
  }
}

.tavernPicture {
  background: url('https://i.imgur.com/blXCJP9.jpg') no-repeat center center fixed;
  background-size: cover;
  &:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.modal-content {
  background-color: $background-color;
  padding: 15px;
  margin: 45px auto;
  label, input, .icon {
    color: $white;
  }
  .input-group__details {
    &:before {
      background-color: $border-color-input !important;
    }
  }
}

.navbar {
  background-color: rgba(0,0,0,0.0);
}

.navbar-brand {
  font-size: 20px;
  color: white;
}

.nav-links {
  color: $white;
  font-family: $font-family
}

.nav-links::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $white;
  transition: width .3s;
}

.nav-links:hover::after {
  width: 100%;
  //transition: width .3s;
}

.hb-buttons:hover {
    color: $white;
    text-decoration: none
}

.hb-buttons::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.hb-buttons:hover::after {
  width: 100%;
  //transition: width .3s;
}

.thumbnail > a:hover {
  color: $white;
  background-color: transparent
}

.nav > li > a:hover {
  color: $white;
  background-color: transparent
}

.icon-bar {
  background-color: white
}

.dropdown-menu {
  background-color: rgba(255, 233, 255, 0.7)
}

p {
  text-align: center;
  margin: 0 0 10px;
  // max-height: 19px;
}

.modal-title {
  color: $white;
  font-family: $font-family;
  font-size: 20px;
  text-align: center
}

.form-control {
  background-color: transparent;
  border-radius: 0;
  border: inset;
  color: $white;
}

label {
  color: $white;
  font-family: $font-family;
}

.hb-buttons {
  width: 100%;
  margin-top: 10px
}

.edit-div {
  margin-top: 2px
}

.btn-primary {
  // background-color: transparent;
  font-family: $font-family;
  border-color: 1px solid #2e6da4;
}

.btn-secondary {
  // background-color: transparent;
  font-family: $font-family;
  border-color: 1px solid #2e6da4;
}

.edit-modal-buttons {
  background-color: $background-color;
  font-family: $font-family;
  border: 1px solid;
}

.edit-modal-buttons:hover {
  color: $white;
}

.btn-info {
  background-color: transparent;
  font-family: $font-family;
  border-color: 1px solid #2e6da4;
}

.frontSuccess {
  z-index: 5000;
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  transition: all 0.5s ease-in-out;
  top: 20px;
  left: 0px;
  right: 0px;
}

.frontFailure {
  z-index: 5000;
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  transition: all 0.5s ease-in-out;
  top: 20px;
  left: 0px;
  right: 0px;
}

.characterHolder {
  margin: auto auto 10px auto;
}

th {
  padding: 10px 10px;
}

.questContainer {
  float: left;
  width: 700px;
}

.parchment {
  border-style: outset;
  background: url('https://st2.depositphotos.com/1004788/6286/i/950/depositphotos_62860847-stock-photo-light-gold-background-paper-of.jpg') center;
}

.col {
  width: 250px;
  display: inline-block;
  border-style: outset;
  background: url('https://st2.depositphotos.com/1004788/6286/i/950/depositphotos_62860847-stock-photo-light-gold-background-paper-of.jpg') no-repeat center;
  margin: 25px;
}

.statTile {
  float: right;
  width: 250px !important;
  border-style: outset;
  background: url('https://st2.depositphotos.com/1004788/6286/i/950/depositphotos_62860847-stock-photo-light-gold-background-paper-of.jpg') no-repeat center;
  margin: 25px;
}

.startQuestButton {
  margin: auto 30%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.card {
  width: 200px;
  text-align: center;
  margin-right: 6%;
  margin-left: 6%;
  border: outset;
}

.combat {
  width: 300px;
  height: 300px;
}

textarea {
  resize: none;
  font-size: 14px;
  line-height: 1;
}

.returnButton {
  display: none;
  margin: auto;
}

.deadButton {
  display: none;
  margin: auto;
}

.positionCardChar {
  left: 30%;
}

.positionCardMon {
  left: 38%;
}

.createCharacterButton {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  margin-top: 10px;
}

.shake {
  animation: shake 1s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
